name: Static www deploy
run-name: ${{ github.actor }} is using Github Actions to check code and deploy static html

on:
  push:
    branches:
      - www

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable # A popular action for setting up the Rust environment

      - name: Run cargo build
        working-directory: ./lib
        run: cargo build --all-features

      - name: Run cargo test
        working-directory: ./lib
        run: cargo test --all-features

      - name: Run cargo doc
        working-directory: ./lib
        run: cargo d --no-deps --all-features

      - name: Run cargo publish dry run
        working-directory: ./lib
        run: cargo publish --dry-run --all-features

      - name: Run cargo package --list
        working-directory: ./lib
        run: cargo package --list

      - name: Run copy index.html
        run: cp ./docs/index.html ./target/doc

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4 # or specific "vX.X.X" version tag for this action
        with:
          path: ./target/doc

      - name: Run a script
        run: echo "Deployed successfully at `date`"

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action